@font-face {
    font-family: open-sans;
    src: url('/fonts/opensans.ttf');
}

@font-face {
    font-family: open-sans-italic;
    src: url('/fonts/opensans-italic.ttf');
}

body {
    padding: 0;
    margin: 0;

    font-size: 16px;
}

div#background {
    background: -webkit-linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,95,0,1) 85%);
    background:    -moz-linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,95,0,1) 85%);
    background:      -o-linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,95,0,1) 85%);
    background:         linear-gradient(45deg, rgba(0,255,255,1) 0%, rgba(255,95,0,1) 85%);

    width: 100%;
    height: 100%;

    position: fixed;

    margin: 0px;
    padding: 0px;
}

#dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.icon {
    width: 45px;
    height: 45px;

    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

.icon#add {
    transform: translateX(-45px);
}

.icon svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-right {
    position: absolute;
    
    right: 0;
    top: 0;

    translate: translateX(-100%);
}

.black-transparent-50 {
    background: rgba(0, 0, 0, 0.5);
}

.fullsize {
    position: absolute;

    width: 100%;
    height: 100%;
}

.dialog {
    position: absolute;
    background: #FFFFFF;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;

    border-radius: 2%;
}

* {
    font-family: open-sans, sans-serif;
}

input {
    margin-top: 3px;
}

label {
    margin-left: 3px;
}

.panel {
    background-color: #11111b;

    margin: 15px;
    padding: 15px;

    width: 75%;
    height: 75%;

    display: table;
    margin: 0 auto;

    border-radius: 15%;
}

.panel .square {
    text-align: center;
}

.panel svg {
    stroke: #ff7011;

    width: 50%;
    height: 50%;
}

.panel p {
    color: #F0F0F0;
    font-size: calc(2vb);

    text-align: center;

    position: relative;
    margin-top: -30%;
}

.square {
    color: #ffffff;
    aspect-ratio: 1/1;

    width: 100%;
}

#panel-container {
    position: fixed;

    display: grid;
    column-gap: 1%;
    row-gap: 1%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    width: 80%;
    height: 80%;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    margin: 0;
    padding: 0;
}
